# udev rules for mapping rover and related devices
# to list all properties for ttyUSB0:
# udevadm info -a -n /dev/ttyUSB0
#
# to use this file, sudo cp it into the udev rule DIRECTORY ex:
# sudo cp src/roverrobotics_ros2_b/roverrobotics_driver/udev/rover.rules /etc/udev/rules.d/10-rover.rules && sudo udevadm control --reload-rules && udevadm trigger

# set the udev rule , make the device_port be fixed by rplidar
#
KERNEL=="ttyUSB*", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", MODE:="0777", SYMLINK+="rplidar"
# creates fixed name for rover serial communication
KERNEL=="ttyUSB[0-9]", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", MODE:="0777", SYMLINK+="rover", RUN+="/bin/setserial /dev/%k low_latency"
KERNEL=="ttyUSB[0-9]", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6015", MODE:="0777", SYMLINK+="rover", RUN+="/bin/setserial /dev/%k low_latency"
# rover zero
KERNEL=="ttyACM*", ATTRS{idVendor}=="03eb", ATTRS{idProduct}=="2404", MODE:="0777", SYMLINK+="rover-zero"